
body{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
    
}

#page{
  
    
    width:99%;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    /* height:1000rem; */
    /* box-shadow: 10px 50px 50px  rgb(239, 223, 3) ; */
}

.nav {
    display: flex;
    flex-direction: c;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    background-color: gold;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    
}
.nav .name a{
    text-decoration: none;
    color:black;
    font-weight: bolder;
    font-size: min(7vw,40px);
    
    
}
.name{
    border: 2px solid black;
    border-radius: 5px;
    height: min(7vh,100px);
    width:min(200px,40vw);
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.nav .options h4{
    border-bottom: 2px solid black;
}
.nav .options h4 a{
    text-decoration: none;
    color: black;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.search input{
    height:2vh;
    width:15vw;
    padding:2vh 2vw;
    border-radius: 5px;
    /* border: none; */
}
.search button{
    height:7vh;
    width:8vw;
    padding:1vh 1.5vw;
    border:none;
    background-color:black ;
    color:gold;
    border-radius: 5px;
    font-size: 2vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search button a{
    text-decoration: none;
    color:white;
    font-size: 1.2vw;
}
.search button:hover{
    background-color: gold;
    border: 2px  solid black;
    color:black;
    font-weight: bolder;
}
.search button a:hover{
    color:black;
}
main{
    margin-top: 3%;
    margin-left:5%;
    width:100%;
 
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.boxes{
    /* position: absolute; */
    border:2px gold solid;
    width:215px;
    /* height:40vh; */
    color:white;
    display:flex;
    margin:20px;
    padding:5px 10px;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
    /* background-color: black; */
}
.boxes img{
    width:100%;
    margin-top: 2%;
    border-radius: 10px;
    height:8rem;
}
.boxes p {
    height:100%;
    font-size: 14px;
    font-weight: 500;
    word-spacing: 0cqmin;
    

}

.boxes:hover{
    /* box-shadow: -2px 1px 10px whitesmoke; */
    border: none;
    transform: scale(1.1);
    background-color: white;
    color:black
}

.head h1{
    font-size: 45px;
}
.head h3{ 
     font-size: 30px;
    text-shadow:5px 2px 10px blue;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    /* position: fixed; */
    /* right: 0; */
    /* bottom: 0; */
    /* min-width: 100%; */
    width:100%;
    /* height:130vh; */
   
    /* min-height: 100%; */
  }
 
  /* Add some content at the bottom of the video/page */
  .content {
    /* position: fixed; */
    /* bottom: 0; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top:15px;
    

    
    background: gold;
    color: #f1f1f1;
    width: 97%;
    height: max(50px,15vh);
    border-radius: 20px;
    color:black;



  }

  .nav-left{
    display: flex;
    flex-direction: row;
    gap:10vw;
    justify-content: space-between;
    align-items: center;
  }
  .content h1 ,.content p{
    margin-left:5%;
    font-size: 2vw;
    
  }
  .content h1{
    font-size: min(3.5vw,30px);
  }
  
 
  .options h4 a{
    font-size: min(20px,5vw);
    
  }

  @media screen and (max-width: 600px) {
  
    .nav-left{
        background-color: black;
        width: 100%;
        color:gold;
        top:0;
        margin-top: -6vh;
        height: 20vh;
        display: flex;
        flex-direction: row;
        gap:5vw;
        justify-content: space-around;
        align-items: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .name{
        color:gold;

    }
    .search {
        flex-direction: column;
    }
    
    .search input {
        width: 100%;
    }
    
    .search button {
        width: 100%;

    }
    .search button a{
        font-size: 11px;
    }
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content:; */
        height: 50vh;
        background-color: gold;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    
        
    }
    .nav .name a{
        text-decoration: none;
        color:gold;
        font-weight: bolder;
        font-size: 7vw;
        
        
    }
    .name{
        border: 2px solid gold;
        border-radius: 5px;
        height: 9vh;
        width:35vw;
        display: flex;
        align-items: center;
        padding: 5px 10px;
    }
    .nav .options h4{
        border-bottom: 2px solid gold;
    }
    .nav .options h4 a{
        text-decoration: none;
        color:gold;
    }    

    .content h1{
        font-size: 12px;
    }
    .content{
        border-radius: 5px;
    }
    main{
        margin:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .boxes {
        width:180px;
        

    }
    
}

@media screen and (min-width:600) {
    .boxes{
        width:200px;
    }
}
@media screen and (max-width:470px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        
    }
    .boxes{
        width: 220px;
        margin-left: 7px;
    }
}